.navbarOpened {
  background: linear-gradient(167.79deg, #634acd 0%, #274ab6 99.09%);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 90;
  padding: calc(100vh * 0.07) 0;
  display: flex;
  flex-direction: column;
    align-items: center;
  transform-origin: center top;
}
