
.phone-frame {
  width: 445px;
  height: 879px;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 110%;
  pointer-events: none;
  position: fixed;
}

.comics {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
}

.phone-frame-container{
  position: fixed;
  width: 100vh;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 0;
  pointer-events: none;
}


.background-section1 {
  width: 100%;
  height: 100vh;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}