.root {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
  background: linear-gradient(90deg,#4C27AF,#7851EA);
}

.content {
  width: 100%;
  max-width: 1619px;
  height: calc(100vh - 50px);
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto !important;
}

.imgNueva {
  position: absolute;
  bottom: 880px;
}

.imgVenapp {
  position: absolute;
  bottom: 468px;
}

.imgVenappTrazo {
  position: absolute;
  z-index: 10;
  bottom: 468px;
}

.img2 {
  position: absolute;
  bottom: 250px;
  z-index: 10;
  right: 0;
}

.imgGroup {
  position: absolute;
  bottom: -180px;
}
