.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--section-4-background-color);
  position: relative;
  overflow-y: hidden;
}

.phone {
  position: absolute;
  top: 0;
  right: 0;
  width: 470px;
  right: 100px
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 0 0 4rem;
  width: 60%
}

.container h2 {
  font-size: 4.5rem;
  font-weight: bold;
}

.container h4 {
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.2;
  margin: 1.25rem 0;

}