.root {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
  background: linear-gradient(90deg, #7851ea, #4c27af);
  padding: 78px 0;
}

.content {
  display: flex;
  margin: 0 auto !important;
  gap: 50px;
  width: 100%;
  height: 100%;
}

.textWrapper {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: auto;
  margin-bottom: auto;
}

.imagesWrapper {
  display: flex;
  position: relative;
  width: 68%;
  align-items: flex-end;
  gap: 10px;
}

.venChantBtn {
  background-color: #90cc55;
  border-radius: 25px;
  color: #000;
  padding: 10px 25px;
  margin-bottom: 30px;
}

.text1 {
  font-size: 95px;
  line-height: 1.15;
  color: #fff;
}

.text2 {
  font-size: 23px;
  color: #fff;
  font-weight: 500;
  margin-top: 15px;
}

.iphoneWrapper {
  width: 42%;
  position: relative;
  height: 100%;
  z-index: 10;
}

.iPhoneChat {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.filas {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 60vw;
  height: 100%;
  gap: 5px;
  padding-bottom: 200px;
}

.fila1 {
  margin-left: -30px;
}

.fila2 {
  margin-right: -40px;
}

.globo1 {
  position: absolute;
  right: 100%;
  top: 0;
}

.globo2 {
  position: absolute;
  left: 20%;
  top: -50px;
}

.globo3 {
  position: absolute;
  left: 100%;
  top: 0;
}

.card {
  z-index: 10;
  color: #fff;
  max-width: 211px;
  width: 25%;
}

.card:nth-last-of-type(2) {
  margin-bottom: -22px;
}

.cardTitleWrapper {
  width: 100%;
  border-bottom: 3px solid #fff;
  margin-bottom: 12px;
}
.cardTitle {
  max-width: 150px;
  font-size: 23px;
}

.cardText {
  color: #fff;
  font-size: 15px;
}

.iphoneContent {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1919px) {
  .text1 {
    font-size: 80px;
    line-height: 1.15;
  }

  .text2 {
    font-size: 21px;
    font-weight: 500;
    margin-top: 15px;
  }

  .globo1 {
    width: 200px;
  }

  .globo2 {
    width: 90px;
  }

  .globo3 {
    position: absolute;
    left: 100%;
    width: 120px;
  }
}

@media screen and (max-width: 1600px) {
  .text1 {
    font-size: 70px;
    line-height: 1.15;
  }

  .text2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
  }

  .globo1 {
    width: 150px;
  }

  .globo2 {
    width: 90px;
  }

  .globo3 {
    width: 120px;
  }
}

@media screen and (max-width: 1400px) {
  .content {
    gap: 10px;
  }

  .textWrapper {
    width: 25%;
  }

  .imagesWrapper {
    width: 75%;
    gap: 5px;
  }

  .text1 {
    font-size: 50px;
    line-height: 1.15;
  }

  .text2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 1279px) {
  .root {
    padding: 55px 0;
    height: auto;
  }
  
  .content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .textWrapper {
    width: 100%;
    max-width: 440px;
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  .imagesWrapper {
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
  }
  
  .text1 {
    font-size: 30px;
    line-height: 1.15;
  }
  
  .text2 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
  }
  
  .iphoneWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .iPhoneChat {
    position: relative;
    width: 250px;
    height: 500px;
    display: flex;
    align-items: flex-end;
  }
  
  .filas {
    z-index: -1;
    max-width: 600px;
    width: 600px;
    padding-bottom: 100px;
  }
  
  .fila1 {
    margin-left: -30px;
  }
  
  .fila2 {
    margin-right: -30px;
  }
  
  .globo1 {
    position: absolute;
    right: 90%;
    top: 0;
    width: 100px;
    height: 90px;
  }
  
  .globo2 {
    transform: translate(30px, 0px);
    position: absolute;
    right: 40%;
    top: -30px;
    width: 46px;
    height: 40px;
  }
  
  .globo3 {
    position: absolute;
    left: 90%;
    width: 55px;
    height: 50px;
    top: 0;
  }
  
  .card {
    z-index: 10;
    color: #fff;
    max-width: 350px;
    width: 100%;
  }

  .card:nth-last-of-type(2) {
    margin-bottom: 0;
  }
  
  .cardTitleWrapper {
    width: 100%;
    border-bottom: 3px solid #fff;
    margin-bottom: 12px;
  }

  .cardTitle {
    max-width: 150px;
    font-size: 23px;
    font-weight: 600;
    line-height: 1.2;
  }
  
  .cardText {
    color: #fff;
    font-size: 16px;
  }

}
