.formContainer {
  width: 100vw;
  height: 100vh;
  background-color: #201d3c;
  position: relative;
  padding: 78px 0;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
}

.text1 {
  color: #fff;
  font-size: 105px;
  font-weight: 800;
  line-height: 1.2;
  max-width: 450px;
}

.text2 {
  color: #fff;
  font-size: 26px;
  margin-bottom: 70px;
}

.image {
  position: absolute;
  bottom: 0;
  right: -732px;
}

@media screen and (max-width: 1919px) {
  .text1 {
    font-size: 90px;
  }

  .text2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 1600px) {
  .image {
    right: -642px;
  }

  .wrapper {
    margin-top: 0px;
  }

  .text1 {
    font-size: 70px;
    max-width: 350px;
  }

  .text2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1500px) {
  .image {
    right: -562px;
  }
}

@media screen and (max-width: 1400px) {
  .text1 {
    font-size: 50px;
    max-width: 250px;
  }

  .text2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 1300px) {
  .image {
    right: -525px;
  }
}
