
.container {

  width: 100vw;
  height: 100vh;
  background-color: var(--section-2-background-color);
  display: flex;

}

.badge {
  background-color: #fff;
  display: inline;
  border-radius: 1rem;
  color: var(--section-2-background-color);
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.badge span {
  font-weight: bold;
}

.content {

  width: 40%;
  padding: 3rem;
  padding-left: 0;
}

.content h2 {
  font-weight: 200;
  font-size: 6rem;
  line-height: 5.5rem;
  color: #201D3C;
}

.content p {
  margin-top: 1.5rem;
}

.background {

  width: 60%;
  height: 100vh;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  margin-right: -4rem;
  background-image: url('/section_2/several_smartphones.png');

}