.root {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
  background: #fff;
  padding: 78px 0;
}

.content {
  display: flex;
  margin: 0 auto !important;
  gap: 50px;
  width: 100%;
}

.hayDeTodoWrapper {
  width: 50%;
}

.phoneWrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.phone {
  object-fit: contain;
}

.hayDeTodoContent {
  position: relative;
  padding-top: 227px;
  opacity: 0;
  transform: translate(0px, 200px);
}

.icon1 {
  position: absolute;
  top: 5%;
  left: 250px;
}

.icon2 {
  position: absolute;
  top: 17%;
  left: 477px;
}

.icon3 {
  position: absolute;
  top: 36%;
  left: 600px;
}

.icon4 {
  position: absolute;
  top: 60%;
  left: 462px;
}

.icon5 {
  position: absolute;
  top: 62%;
  left: 250px;
}

.icon6 {
  position: absolute;
  bottom: -20px;
  left: 200px;
}

@media screen and (max-width: 1919px) {
  .hayDeTodoContent {
    padding-top: 127px;
  }
}

@media screen and (max-width: 1535px) {
  .icon5 {
    position: absolute;
    top: 56%;
    left: 250px;
  }
}

@media screen and (max-width: 1366px) {
  .hayDeTodoContent {
    padding-top: 107px;
  }

  .icon5 {
    position: absolute;
    top: 56%;
    left: 250px;
  }
}
