.outer-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--section-1-background-color);
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  width: 100%;
  align-items: center;
  display: flex;
  padding: 4.5rem;
  position: relative;
}

.phone {
  margin-bottom: -340px;
  max-height: 100vh;
}

.phone-container {
  flex: 2;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.phone-container > div {
  position: relative;
  max-width: 620px;
}

.content {
  position: relative;
  width: 550px;
}

.content h2 {
  font-weight: 400;
  font-size: 105px;
  line-height: 1;
}

.content p {
  font-weight: 500;
  margin-top: 2rem;
  font-size: 25px;
}

.overlay-text {
  font-size: 6rem;
  font-weight: 300;
  position: absolute;
  left: 130%;
  top: 46%;
}

.overlay {
  width: 410px;
  height: 535px;
  position: absolute;
  top: 10%;
  right: -40%;
  background-image: url("/section_1/hearts.png");
  background-size: cover;
}

@media screen and (max-width: 1919px) {
  .content h2 {
    font-size: 80px;
  }

  .content p {
    font-size: 22px;
  }
}

@media screen and (max-width: 1600px) {
  .content {
    position: relative;
    width: 405px;
  }

  .content h2 {
    font-size: 70px;
  }

  .content p {
    font-size: 20px;
  }

  .phone {
    margin-bottom: -305px;
  }

  .overlay {
    width: 250px;
    height: 325px;
    top: 20%;
    right: -20%;
  }

  .overlay-text {
    left: 100%;
    top: 50%;
  }
}

@media (max-width: 1500px) {
  .overlay-text {
    top: 57%;
    left: 90%;
  }
}

@media screen and (max-width: 1400px) {
  .phone {
    margin-bottom: -255px;
  }

  .content h2 {
    font-size: 50px;
  }

  .content p {
    font-size: 18px;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-position: left;
  }

  .phone {
    width: 250px;
    object-fit: contain;
    margin-bottom: -210px;
  }

  .content {
    margin-bottom: 2rem;
    font-weight: 400;
  }

  .overlay {
    display: none;
  }

  .outer-container {
    background-position: left;
  }
}
