
.container {

  width: 100vw;
  height: 100vh;
  background-color: var(--section-2-background-color);
  display: flex;

}

.badge {
  background-color: #fff;
  display: inline;
  border-radius: 1.5rem;
  color: var(--section-2-background-color);
  padding: 0.1rem 1rem 0.1rem 1rem;
  font-size: 1.25rem;
}

.badge span {
  font-weight: bold;
}

.content {

  width: 40%;
  width: 30%;
  padding: 3rem;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content h2 {
  font-weight: 200;
  font-size: 8rem;
  line-height: 0.9;
  color: #201D3C;
}

.content p {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.background {

  width: 70%;
  height: 100vh;
  background-size: cover;
  background-size: 120%;
  background-position: right;
  background-repeat: no-repeat;
  margin-right: -4rem;
  background-image: url('/section_2/several_smartphones.png');

}