.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--section-4-background-color);
  position: relative;
  overflow-y: hidden;
}

.phone {
  position: absolute;
  top: 0;
  right: 0;
  width: 620px;
  right: 0;
  transform: translateX(-50%);
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 0 0 4rem;
  width: 60%
}

.container h2 {
  font-size: 8rem;
  font-weight: 900;
}

.container h4 {
  font-weight: 300;
  font-size: 4.75rem;
  line-height: 1.2;
  margin: 1.25rem 0;
}

.container p {
  font-size: 2rem;
}

.tag {
  display: flex;
  margin-top: 5rem;
}

.tag img {
  margin-right: 2rem;
}